<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <%= @post.name %></p>
  <p>Content: <%= @post.content %></p>
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Content: <textarea name="content" rows=8 cols=75></textarea></p>
  <button type="submit" title="delete" value="Submit">Submit
</form>
