<form action="/posts" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Content: <textarea name="content" rows=8 cols=75></textarea></p>
  <p><button type="submit" title="submit" value="Submit">Submit</p>
</form>
