<form action="/posts" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Content: <textarea name="content" rows=4 col=50></textarea></p>
  <input type="submit" name="" value="Submit"></p>
</form>
