<form action="/posts" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Content: <input type="text" name="content" value=""></p>
  <input type="submit" name="" value="Submit"></p>
</form>
